.line {
  overflow-x: hidden;
}

.line__title {
  position: relative;
  width: fit-content;

  &::after,
  &::before {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 100vw;
    height: 2px;
    top: 15px;
    z-index: -1;
  }

  &::after {
    left: calc(100% + 20px);

    @media (min-width: $tablet-width) {
      left: calc(100% + 40px);
    }
  }

  &::before {
    right: calc(100% + 20px);

    @media (min-width: $tablet-width) {
      right: calc(100% + 40px);
    }
  }
}
