.catalog {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding: 40px 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 45px;
  }
}

.catalog__container {
  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.catalog__title {
  padding: 0 $page-padding;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 84px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid $catalog-border-color;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.catalog__item {
  padding: 20px $page-padding 24px;
  border-bottom: 1px solid $catalog-border-color;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}
