.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $base-color-text;
  fill: $special-color;

  @media (min-width: $tablet-width) {
    width: 168px;
  }

  &:hover,
  &:focus {
    fill: $base-bg-color;
  }

  &:active {
    opacity: 0.3;
  }
}
