.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $special-color;

  &:hover,
  &:focus {
    color: $base-bg-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 168px;
  }
}

.copyright__text {
  color: $base-color-text;
}
