.example-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.example-list__value {
  min-width: 124px;
  padding: 14px 21px 16px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $secondary-color-text;
  border: 1px solid $extra-border-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example-list__field {
  width: 80px;
  margin: -9px auto 0;
  font-size: 12px;
  line-height: 12px;
  background-color: $third-bg-color;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}
