.extra {
  padding: 25px 0 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 0 87px;
  }
}

.extra__block-title {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin: 0 0 80px 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 78px 0;
  }
}

.extra__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.extra__list {
  border-top: 1px solid $extra-border-color;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
    border: 1px solid $extra-border-color;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    border: none;
    border-top: 1px solid $extra-border-color;
    margin-bottom: 0;
  }
}

.extra__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 13px 0 18px;
  font-size: 14px;
  line-height: 14px;
  border-bottom: 1px solid $extra-border-color;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 93px;
    padding: 26px 38px 27px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 234px 72px 244px;
    padding: 15px 0 16px;
    gap: 10px;
    align-items: center;
  }
}

.extra__item p {
  margin: 0 0 15px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.extra__specs-field {
  @media (min-width: $tablet-width) {
    text-align: end;
  }
}

.extra__specs-value {
  text-align: end;
}

.extra__title {
  grid-column: 1/-1;
  margin: 0 0 13px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: auto;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.extra__button {
  grid-column: 1/-1;

  @media (min-width: $desktop-width) {
    grid-column: auto;
  }
}

.extra__promotion {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 135px 50px 43px;
  min-height: 290px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top 59px center, center, center;
  background-size: 78px 80px, auto, cover;
  font-size: 16px;
  line-height: 20px;
  color: $contrast-color-text;

  @media (min-width: $tablet-width) {
    padding: 71px 125px 69px;
    min-height: 200px;
    text-align: start;
    justify-content: end;
    background-image:
      url("../../images/icons/stack.svg#icon-extra"),
      linear-gradient(rgba($base-bg-color, 85%), rgba($base-bg-color, 85%)),
      image-set(
        url("../../images/extra-bg-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/extra-bg-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/extra-bg-tablet@2x.jpg") 2x,
        url("../../images/extra-bg-tablet@1x.jpg") 1x
      );
    background-position: top 57px left 77px, center, center;
    background-size: 80px 82px, auto, cover;
  }

  @media (max-width: $mobile-width-only) or (min-width: $desktop-width) {
    background-image:
      url("../../images/icons/stack.svg#icon-extra"),
      linear-gradient(rgba($base-bg-color, 85%), rgba($base-bg-color, 85%)),
      image-set(
        url("../../images/extra-bg-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/extra-bg-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/extra-bg-mobile@2x.jpg") 2x,
        url("../../images/extra-bg-mobile@1x.jpg") 1x
      );
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    padding: 135px 42px 43px;
    min-height: auto;
    text-align: center;
    background-position: top 56px center, center, right;
    background-size: 78px 80px, auto, cover;
  }
}

.extra__promotion-title {
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 161px;
  }
}
