.form {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    align-items: start;
    margin-bottom: 50px;
  }
}

.form__wrapper.container {
  @media (max-width: $mobile-width-only) {
    padding: 0;
    margin-bottom: 26px;
  }
}

.form__fieldset {
  border: none;

  &--submit {
    text-align: center;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 60px;
      align-items: center;
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      column-gap: 80px;
    }
  }

  &--contacts {
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin-bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 80px;
      margin-bottom: 50px;
    }
  }

  &--comment {
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 59px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 65px;
    }
  }

  &--check {
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      margin-bottom: 39px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 45px;
    }
  }
}

.form__fieldset:not(.container) {
  padding: 0;
  margin: 0;
}

.form__wrapper .form__fieldset {
  &--data {
    @media (max-width: $mobile-width-only) {
      padding: 0 $page-padding 9px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--radio {
    padding: 22px $page-padding 5px;
    border-top: 1px solid $footer-border-color;
    border-bottom: 1px solid $footer-border-color;

    @media (min-width: $tablet-width) {
      padding: 22px 26px 13px;
      border: 1px solid $footer-border-color;
    }
  }
}

.form__legend {
  padding: 0;
  text-transform: none;
}

.form__legend br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__fieldset--contacts legend {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form__fieldset--comment legend {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.form__fieldset--check legend {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.form__group-item {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__label {
  padding-right: 15px;
}

.form__textarea {
  min-height: 150px;

  @media (min-width: $tablet-width) {
    min-height: 175px;
  }
}

.form__input-wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 20px 20px;
    background-color: #000000;

    @media (min-width: $tablet-width) {
      right: 14px;
    }
  }

  &--email {
    &::after {
      mask-image: url("../../images/icons/stack.svg#icon-email");
    }
  }

  &--tel {
    &::after {
      mask-image: url("../../images/icons/stack.svg#icon-phone");
    }
  }

  &:hover {
    &::after {
      background-color: #222222;
    }
  }

  &:focus-within {
    &::after {
      background-color: $special-bg-color;
    }
  }

  &:has(input:invalid) {
    &::after {
      background-color: $input-border-color-err;
    }
  }
}

.form__input-wrapper .form__input {
  padding-right: 40px;
}

.form__button {
  width: 100%;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding: 14px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.form__explanation {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 16px;
  color: $secondary-color-text;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
