.logo {
  text-decoration: none;
  color: #111111;
  --color-cat-text: #111111;
  fill: currentColor;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--footer {
    &:hover,
    &:focus {
      color: #3e3e3e;
      --color-cat-text: #3e3e3e;
      opacity: 1;
    }

    &:active {
      color: #6b6b6b;
      --color-cat-text: #6b6b6b;
      opacity: 1;
    }
  }
}
