.page-footer {
  background-color: $third-bg-color;
  padding: 40px 0;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__logo {
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 19px;
  border-top: 1px solid $footer-border-color;
  border-bottom: 1px solid $footer-border-color;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 40px;
    width: auto;
    border: none;
  }
}

.page-footer__copyright {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
