.page-footer {
  background-color: $third-bg-color;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 56px 0;
  }
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.page-footer__logo {
  margin: 0 auto 19px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 5px;
  }
}

.page-footer__social {
  margin: 0 auto;
  padding: 20px 0 19px;
  border-top: 1px solid $footer-border-color;
  border-bottom: 1px solid $footer-border-color;

  @media (min-width: $tablet-width) {
    padding: 7px 0 0 35px;
    border: none;
  }
}

.page-footer__copyright {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
