.page-input {
  width: 100%;
  padding: 13px 14px 12px;
  border: 1px solid $input-border-color;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    padding: 10px 18px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    opacity: 0.6;
  }

  &:hover {
    border-color: $input-border-color-hover;
    outline: none;
  }

  &:focus {
    border-color: $input-border-color-focus;
    outline: none;
  }

  &:invalid {
    border-color: $input-border-color-err;
    outline: none;
  }
}
