.product {
  display: grid;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 81px;
  }

  &--more {
    text-align: center;
  }
}

.product__wrapper {
  display: grid;
  grid-template-columns: 140px 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    padding: 0 37px 40px;
    background-color: #f2f2f2;
  }
}

.product--more .product__wrapper {
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    border: 1px solid $second-bg-color;
  }
}

.product__img-link {
  justify-self: center;

  @media (min-width: $tablet-width) {
    margin-top: -71px;
  }
}

.product__img {
  display: block;
}

.product__content {
  display: flex;
  flex-direction: column;
}

.product__link {
  display: block;
  width: 80px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 135px;
    align-self: center;
    text-align: center;
  }
}

.product__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $secondary-color-text;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product__specs-item {
  display: flex;
  justify-content: space-between;
}

.product__specs-field {
  display: inline;
}

.product__specs-value {
  display: inline;
}

.product__button {
  grid-column: 1/-1;
  align-self: end;
}
