.product {
  display: grid;
  grid-template-columns: 140px 1fr;
  font-size: 12px;
  line-height: 16px;

  &--more {
    grid-template-columns: 1fr;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    width: 324px;
    padding: 12px 37px 40px;
    background-image: linear-gradient(to bottom, transparent 81px, $second-bg-color 81px);

    &--more {
      margin-top: 81px;
      background-image: none;
      border: 1px solid $second-bg-color;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product__img-link {
  justify-self: center;
}

.product__img {
  display: block;
}

.product__content {
  display: flex;
  flex-direction: column;
}

.product__link {
  display: block;
  width: 80px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 135px;
    align-self: center;
    text-align: center;
  }
}

.product__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $secondary-color-text;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product__specs-item {
  display: flex;
  justify-content: space-between;
}

.product__specs-field {
  display: inline;
}

.product__specs-value {
  display: inline;
}

.product__button {
  grid-column: 1/-1;
  align-self: end;
}
