.program-select {
  padding: 26px 0 31px;
}

.program-select__title {
  margin-bottom: 35px;
}

.program-select .container {
  @media (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    padding: 0 70px;
  }
}

.program-select__description {
  margin: 0 20px 39px 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $secondary-color-text;
}
