.program-card {
  position: relative;
  background-color: $second-bg-color;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  &--slim {
    &::after {
      width: 50px;
      height: 53px;
      background-image: url("../../images/icons/stack.svg#cat-slim");
      background-repeat: no-repeat;
    }
  }

  &--pro {
    &::after {
      width: 67px;
      height: 50px;
      background-image: url("../../images/icons/stack.svg#cat-pro");
      background-repeat: no-repeat;
    }
  }
}

.program-card__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $secondary-color-text;
  text-transform: uppercase;
}

.program-card__link {
  position: relative;
  display: inline-block;
  padding-right: 50px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $secondary-color-text;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url("../../images/icons/stack.svg#icon-arrow");
    background-repeat: no-repeat;
    background-position: -8px center;
    transition: 0.3s ease-in-out;
  }

  &:hover::after {
    background-position-x: 0;
  }
}
