.slider {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 280px;
  height: 256px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    max-width: 560px;
    height: 512px;
  }
}

.slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__image--before img {
  object-position: left;
}

.slider__image--after img {
  object-position: right;
}

.slider__change-control {
  position: absolute;
  padding: 0;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  transform: translateX(-50%);
  color: $special-color;
  background-color: currentColor;
  border: none;
  border-radius: 2px;
  outline: none;
  z-index: 3;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $base-bg-color;
  }

  &:active {
    opacity: 0.6;
    color: $special-bg-color;
  }
}

.slider__change-control span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  color: currentColor;
  fill: currentColor;
  background-color: #ffffff;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.slider__change-control svg {
  width: 24px;
  height: 18px;
}
